.buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: $Comfortaa;

  @include tablet-landscape {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.buttons-wrapper__btn {
  @include flexbox();
  @include align-items(center);
  padding: 12px 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: $font-button-discover;
  letter-spacing: 0px;
  color: $font-light;
  text-transform: uppercase;
  -webkit-box-shadow: 0 .1rem .2rem 0 #000000;
  box-shadow: 0 .1rem .2rem 0 #000000;
}

.buttons-wrapper__btn_light {
  background: $background-button;
}

.buttons-wrapper__btn_dark {
  // not displayed on mobile
  display: none;
  background: url('../img/button-background.jpg');
  @include bcg;
  text-transform: uppercase;

  @include  desktop() {
    display: block;
    margin-left: 1rem;
  }
}

.buttons-wrapper__btn--darkBig {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  background: url('../img/button-background.jpg');
  @include bcg;
  text-transform: uppercase;
  @include  tablet-portrait() {
    width: 253px;
  }
}
