.buttons-wrapper {
    display: flex;
    font-family: $Comfortaa;
}
// Demander si nest possible pour flex-start/end dans le même fichier

.buttons-wrapper__btn {
    // height: 44px;
    padding: 12px 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: $font-button-discover;
    letter-spacing: 0px;
    color: $font-light;
    text-transform: uppercase;
    box-shadow: 0 .1rem .2rem 0 #000000;
}

.buttons-wrapper__btn_light {
    width: 12rem;
    background: $background-button;
}

.buttons-wrapper__btn_dark {
    // not displayed on mobile
    display: none;
    width: 19.5rem;
    background: $background-button-switch;
    text-transform: uppercase;

    @include  desktop() {
        display: block;
        margin-left: 1rem;
    }
}