.consoles-btn {
    width: 50%;
    padding: 1.5rem 0;
    font-family: 'Helvetica', 'sans-serif';
    font-weight: 600;
    font-size: $font-consoles;
    text-align: center;
    border-radius: .7rem;
    color: $font-light;
    box-shadow: 0 .1rem .2rem 0 #000;
}

.consoles-btn--switch {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background: $background-button-switch;
}

.consoles-btn--wii {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background: $background-button-wii;
}

.consoles-btn--order {
    font-family: $Comfortaa;
    font-size: $font-button-consoles;
    display: block;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 1.2rem 0;

    @include tablet-portrait {
        max-width: 50%;
        font-size: $font-button-order;
    }

    @include tablet-landscape {
        max-width: 70%;
    }
}

.consoles-btn--amiibo {
    max-width: 80%;
    margin-top: 2.5rem;

    @include tablet-portrait {
        max-width: 35%;
    }

    @include desktop {
        max-width: 100%;
        font-size: $font-button-discover;
    }
}