.ennemis {
    background-image: url("../img/bg-motifs-noir.png");
    @include bcg;
    @include section-padding;
  
    @include tablet-landscape {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);
    }
}
.video {
  @include tablet-landscape {
    width: 50%;
  }

  video {
    padding-top: 5rem;
    height: auto;
    width: 100%;
  }
}