.ennemis {
    background-image: url("../img/bg-motifs-noir.png");
    @include bcg;
    @include rem(padding, 100px 0px);
  
    @include tablet-landscape {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);
      @include rem(padding, 112px 15px);
    }
  
    @include desktop {
      @include rem(padding, 112px 250px);
    }
}
.video {
  @include tablet-landscape {
    width: 50%;
  }

  video {
    padding-top: 50px;
    height: auto;
    width: 100%;
  }
}