.footer {
  text-align: center;
  @include bcg;
  background-image: url("../img/bg-motifs-noir.png");
  @include rem(padding, 50px 15px 93px 15px);
  color: $white;

  @include tablet-landscape {
    @include rem(padding, 76px 0px 71px 0px);
  }
}

.footer__logo {
  height: auto;
  @include rem(width, 125px);
  @include rem(margin-bottom, 29px);

  @include tablet-landscape {
    @include rem(width, 100px);
  }
}

.footer__wrapper-socials {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(top);
  @include rem(margin-bottom, 50px);

  @include tablet-portrait {
    @include flex-direction(row);
    @include justify-content(center);
    @include rem(margin-bottom, 80px);
  }

  div {
    @include rem(margin-bottom, 20px);
    @include tablet-portrait {
      @include rem(margin-right, 15px);
      margin-bottom: 0;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.footer__mentions {
  @include rem(font-size, 12px);
  line-height: 1.5;

  span {
    color: $gold;
    &:first-of-type {
      &::after {
        content: "|";
        color: $white;
        @include rem(margin, 0px 5px);
      }
    }
  }

  p {
    @include rem(margin-top, 15px);
  }
}
