.histoire {
  position: relative;
  overflow: hidden;
  background: url('../img/backgrounds/bg-motifs-bleu.png'); 
  @include bcg;
  @include rem(padding, 10rem 0rem);

  @include tablet-landscape {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);
      @include rem(padding, 11.2rem 1.5rem);
  }
  
  @include desktop {
    @include rem(padding, 11.2rem 25rem);
  }
}

.wrapper-img__link {
  mix-blend-mode : soft-light;
  position: absolute;
  top: 0;
  width: 150%;
  @include desktop {
    width: 100%;
    left: 66rem;
  }
    img {
      width: 100%;
      @include tablet-portrait {
        width: 40%;
      }
      @include tablet-landscape {
        width: 40%;
      }
    }
}