.intro {
  position: relative;
  text-align: center;
  background-image: url("../img/bg-zelda.jpg");
  @include bcg;
  color: $white;

}

.intro__ctn {
  @include rem(padding, 20px 15px 50px 15px);
  background: rgba(0, 0, 0, 0.08);

  @include tablet-landscape {
    @include rem(padding, 141px 0px 0px 0px);
  }
}

.intro__ctn__logo {
  z-index: 2;
  margin-bottom: 50px;

  @include tablet-landscape {
    position: absolute;
    @include rem(top, 40px);
    @include rem(left, 40px);
  }
}

.intro__ctn__title {
  margin: 20px 0 77px 0;
  font-family: "AnticDidone";
  font-size: 32px;
  font-weight: 700;

  @include tablet-landscape {
    @include rem(margin, 20px 0px 200px 0px);
    @include rem(font-size, 55px);
  }

  span {
    font-family: "BerkshireSwash";
  }
}

.intro__ctn__invitation {
  @include rem(margin-top, 74px);
  font-family: "AnticDidone";
  @include rem(font-size, 18px);
}

.intro__ctn__scroll-line {
  margin: 0 auto;
  @include rem(margin-top, 15px);
  @include rem(height, 40px);
  @include rem(width, 1px);
  background: $white;
}
