.intro {
  position: relative;
  text-align: center;
  background-image: url("../img/bg-zelda.jpg");
  background-size: cover;
  background-position: center;
  color: $white;
  height: 100vh;
  width: 100%;

  @media only screen and (max-height: 550px) {
    height: auto;
  }

  .wrapper-content__darkBottom {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    height: 100%;
    width: 100%;
    @include rem(padding, 0px 15px);
  
    @media only screen and (max-height: 550px) {
      @include rem(padding, 70px 15px 0px 15px);
    }
  
    @include tablet-landscape {
      @media only screen and (max-height: 550px) {
        @include rem(padding, 141px 0px 0px 0px);
      }
    }
  }
}

.intro__ctn__logo {
  position: absolute;
  @include rem(top, 30px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  @media only screen and (max-height: 550px) {
    position: inherit;
    -webkit-transform: none;
    transform: none;
    @include rem(margin-bottom, 30px);
  }

  @include tablet-landscape {
    position: absolute;
    @include rem(top, 40px);
    @include rem(left, 40px);
    -webkit-transform: none;
    transform: none;
  }
}

.intro__ctn__title {
  @include rem(margin, 0px  0px 77px 0px);
  font-family: "AnticDidone";
  @include rem(font-size, 32px);
  font-weight: 700;

  @media only screen and (max-height: 550px) {
    @include rem(margin, 20px 0px 77px 0px);
  }

  @include tablet-landscape {
    @include rem(font-size, 55px);
    @include rem(margin, 0px  0px 200px 0px);
  }

  @include tablet-landscape {
    @media only screen and (max-height: 550px) {
      @include rem(margin, 20px 0px 200px 0px);
    }
  }

  span {
    font-family: "BerkshireSwash";
  }
}

.intro__ctn__bottom-ctn {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  @media only screen and (max-height: 550px) {
    position: inherit;
    -webkit-transform: inherit;
    transform: inherit;
  }

  h3 {
    @include rem(margin-top, 74px);
    font-family: "AnticDidone";
    @include rem(font-size, 18px);
  }

  div {
    margin: 0 auto;
    @include rem(margin-top, 15px);
    @include rem(height, 40px);
    @include rem(width, 1px);
    background: $white;
  }
}
