.monde {
  background-image: url("../img/bg-motifs-noir.png");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  @include tablet-landscape {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 112px 15px;
  }

  @include desktop {
    padding: 112px 250px;
  }

  .video {
    @include tablet-landscape {
      width: 50%;
    }

    video {
      height: auto;
      width: 100%;
    }
  }

  .wrapper-info {
    padding: 0 15px;
    font-family: "AnticDidone";
    color: $white;
    text-align: center;

    @include tablet-landscape {
      text-align: right;
      padding: 0 0;
      width: 40%;
    }
    h2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 40px 0;
        font-size: 28px;
        font-family: "BerkshireSwash";
        font-weight: 700;
        @include tablet-landscape {
            font-size: 30px;
            margin-top: 0;
        }
        span {
            font-size: 28px;
            font-family: "AnticDidone";
            font-weight: 400;
        }
    }
    p {
        font-size: 17px;
        line-height: 1.47;
        margin-bottom: 30px;
    }
  }
}
