.monde {
  background-image: url("../img/backgrounds/bg-motifs-noir1.png");
  background-size: cover !important;
  @include bcg;
  @include section-padding;
  @include tablet-landscape {
    background-size: contain !important;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
  }

  .video {
    &:first-child {
      padding-bottom: 4rem;
    }
    
    @include tablet-landscape {
      width: 50%;
    }

    video {
      height: auto;
      width: 100%;
    }
  }
}
