.personnages-rencontrer {
    //background-image: url('../img/bg-bleu.jpg');
    background: rgb(62, 142, 196);
    padding:100px 15px;
    margin:  0 auto;
    text-align: center;
    color: #fff;
    font-family: "AnticDidone";
    @media screen and (min-width: 1024px ){
        text-align: right;
    }
    @media screen and (min-width: 1440px ){
        padding: 240px 250px;
    }
    .wrapper-info {
        h2 {
            font-size: 28px;
            font-family: "BerkshireSwash";
            font-weight: 700;
            @media screen and (min-width: 1024px ){
                text-align: right;
                font-size: 30px;
                margin-bottom: 0;
            }
            .style-title {
                font-size: 28px;
                font-family: "AnticDidone";
                font-weight: 400; 
            }
        }
        p {
            font-size: 17px;
            line-height: 1.47;
            @media screen and (min-width: 1024px ){
                width: 450px;
                display: inline-block;
                margin: 20px 0;
            }
        }
        @media screen and (min-width: 1024px ){
            width: 100%;

        }
    }
    .discover {
        display: none;
        width: 129px;
        height: 44px;
        font-family: 'Roboto';
        font-size: 17.6px;
        letter-spacing: 0px;
        text-align: center;
        color: #fff;
        background: #b99f65;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        @media screen and (min-width: 1024px ){
            display: block;
            margin-left: 10px;
        }
    }
    .command {
        display: none;
        width: 196px;
        height: 44px;
        font-family: 'Roboto';
        font-size: 17.6px;
        letter-spacing: 0px;
        text-align: center;
        color: #fff;
        background: #940606;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        @media screen and (min-width: 1024px ){
            display: block;
            margin-left: 10px;
        }
    }
}

.wrapper-buttons {
    display: flex;
    justify-content: flex-end;
}