.personnages {
    position: relative;
    overflow: hidden;
    height:  77rem;
    background: $white;
    @include bcg;

    .wrapper-info {
        color: $font-dark;
    }
}

.wrapper-info {
  &:nth-child(3){
    color:#413f3f;
  }
}

.wrapper-img__left {
  position: absolute;
  top:50%;
  left: -16.2rem;
  opacity: 0.4;  
  transform: translateY(-50%);
  @include tablet-portrait {
    left: 0;
  }
  @include desktop {
    left: 12%;
  }
    img {
      @include desktop {
        width: 50rem;
      }
    }
}
.wrapper-img__right {
  position: absolute;
  right: -11.5rem;
  transform: translateY(125%);
  opacity: 0.4;  
  @include tablet-portrait {
    right: 0;
  }
  @include desktop {
    right: 12%;
  }
}