.share {
  @include rem(padding, 100px 15px);
  background-image: url("../img/bg-motifs-blanc.png");
  @include bcg;
  text-align: center;
  font-family: "AnticDidone";
  color: $black;

  @include desktop {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    margin: 0 auto;
    @include rem(padding, 116px 400px);
  }
}

.share__desc {
  @include rem(font-size, 16px);
  line-height: 1.5;
  margin-bottom: 20px;
  @include desktop {
    margin-bottom: 0;
    @include rem(font-size, 18px);
    text-align: left;
    @include rem(margin-right, 30px);
  }
}

.share__btn {
  @include rem(width, 172px);

  @include desktop {
    @include rem(width, 156px);
  }
}
