.wrapper-info {
    @include rem(padding, 0 1.5rem);
    font-family: "AnticDidone";
    color: $white;
    text-align: center;
    @include tablet-landscape {
        text-align: right;
        padding: 0 0;
        width: 40%;
    }
}

.wrapper-info__title {
    @include flexbox();
    @include flex-direction(column);
    @include rem(margin, 4rem 0rem);
    font-size: $font-title;
    font-family: "BerkshireSwash";
    font-weight: 700;
    @include tablet-landscape {
        @include rem(font-size, 3rem);
        margin-top: 0;
    }
}

.wrapper-info__title--sticky {
    margin: 0 0 4rem;
}

.wrapper-info__subtitle {
    font-family: "AnticDidone";
    font-weight: 400;
}

.wrapper-info__subtitle--amiibo {
    margin-top: 2rem;
    font-size: $font-consoles;
    line-height: 150%;
}

.wrapper-info__desc--light {
    color: $font-light;
}

.wrapper-info__desc {
    @include rem(font-size, 1.7rem);
    line-height: 1.47;
    @include rem(margin-bottom, 3rem);
}

.wrapper-info__left {
    @include tablet-landscape {
        text-align: left;
        padding: 0 0;
        width: 40%;
    }
}

.wrapper-info--amiibo {
    position: relative;
    z-index: 2;
    color: $font-tertiary;
}
