.buttons-wrapper
            a(class='buttons-wrapper__btn buttons-wrapper__btn_light' href='#') Découvrir
            a(class='buttons-wrapper__btn buttons-wrapper__btn_dark' href='#') Commander le jeu