section.ennemis-affronter
    div.wrapper-info
        h2 Des ennemis à affrontrer
        p Quelque soit votre arme favorite, croisez le fer avec les créatures qui peuplent ce royaume désolé, et prouvez votre valeur au combat. Plus que d'une épée, vous devrez vous armer de courage et de bravoure.
    button.discover Découvrir
    .video-zelda-cbt 
        video
 
