<footer>
  <div class="footer">
    <img class="footer__logo" src="/img/logo-nintendo-red.png" href="" alt"Nintendo" />

    <div class="footer__wrapper-socials">
      <div>
        <a class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" href="https://twitter.com/intent/user?screen_name=nintendofrance" alt="Suivre Nintendo">Suivre</a>
      </div>
      <div>
        <div class="g-ytsubscribe" data-channel="Nintendo" data-layout="default" data-count="hidden"></div>
      </div>
      <div>
        <div class="fb-like" data-layout="button"></div>
      </div>
    </div>

    <div class="footer__mentions">
      <div class="footer__mentions__conditions">
      <span>Politique de confidentialité</span>
      <span>Conditions d’utilisation</span>
      </div>
      <p class="footer__mentions__desc">© 2017 Nintendo. The Legend of Zelda, Wii U, et Nintendo Switch sont des marques de commerce de Nintendo.</p>
    </div>
  </div>
</footer>

  <script src="https://apis.google.com/js/platform.js"></script>
</body>
</html>
