<!DOCTYPE html>
<html>
  <head>
    <title>Gulp test</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script type="text/javascript" src="js/script.js"></script>
  </head>
  <body>
    <header>
      <h2>This is the header!</h2>
    </header>
