section.histoire-decouvrir.clearfix
    div.wrapper-info.clearfix
        h2 Une histoire 
            |
            br
            span.style-title à découvrir
        p Aidez Link à retrouver sa mémoire d'avant qu'il ne se réveille seul dans ce royaume oublié. Lancez-vous avec lui à la découverte d'une vaste et dangereuse contrée pour faire la lumière sur ses souvenirs perdus, avant qu'Hyrulene soit jamais perdu.
        .wrapper-buttons
            button.discover Découvrir
            button.command Commander le jeu