section.histoire-decouvrir
    div.wrapper-info
        h2 Une histoire à découvrir
        p Aidez Link à retrouver sa mémoire d'avant qu'il ne se réveille seul dans ce royaume oublié. Lancez-vous avec lui à la découverte d'une vaste et dangereuse contrée pour faire la lumière sur ses souvenirs perdus, avant qu'Hyrulene soit jamais perdu.
    button.discover Découvrir