section.histoire
    div.wrapper-info.wrapper-info__left
        h2.wrapper-info__title Une histoire #[br]#[span.wrapper-info__subtitle à découvrir] 
        p.wrapper-info__desc Aidez Link à retrouver sa mémoire d'avant qu'il ne se réveille seul dans ce royaume oublié. Lancez-vous avec lui à la découverte d'une vaste et dangereuse contrée pour faire la lumière sur ses souvenirs perdus, avant qu'Hyrulene soit jamais perdu.
        include ../blocs/buttons-wrapper.pug