<section class="intro">
  <h1 class="intro__logo">
    <img src="img/logo-botw.png" alt="Zelda Breath of the Wild" />
  </h1>
  <h2 class="intro__title">Un voyage<br> <span>époustoufflant</span> et GRANDIOSE</h2>
  <a class="buttons-wrapper__btn buttons-wrapper__btn--darkBig" href="#">commander le jeu</a>
  <h3 class="intro__invitation">Lancez vous dans l'aventure</h3>
  <div class="intro__scroll-line"></div>
</section>
