section.monde
  .video
    <video controls poster="../img/video-monde.png">Ici la description alternative</video>
  .wrapper-info
      h2.wrapper-info__title Un monde
        span.wrapper-info__subtitle à explorer
      p.wrapper-info__desc Quelque soit votre arme favorite, croisez le fer avec les créatures qui peuplent ce royaume désolé, et prouvez votre valeur au combat. Plus que d'une épée, vous devrez vous armer de courage et de bravoure.
      include ../blocs/buttons-wrapper.pug