section.personnages-rencontrer
    div.wrapper-info
        h2 Des personnages
            |
            br
            span.style-title à rencontrer
        p Allez à la rencontre de toute une galerie de personnages hauts en couleurs. Certains vous demanderont de précieux conseils... mais soyez vigilent, car ils ne vous veulent pas tous que du bien.
        .wrapper-buttons
            button.discover Découvrir
            button.command Commander le jeu