<section class="share">
  <p class="share__desc">Propagez les vents d’Hyrule et invitez d’autres aventuriers à parcourir les contrées désenchantées d’un Hyrule en ruines.</p>
  <div class="share__btn fb-share-button" data-layout="button" data-size="large"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse">Partager</a></div>
</section>
