<section class="share">
  <p class="share__desc">Propagez les vents d’Hyrule et invitez d’autres aventuriers à parcourir les contrées désanchantées d’un Hyrule en ruines.</p>
  <a class="share__btn" href="#">Partager</a>
</section>
