//- Include header
include ./partials/header.pug



//- Include partie histoire
include ./partials/histoire.pug

//- Include partie personnages
include ./partials/personnages.pug

//- Include partie ennemis
include ./partials/ennemis.pug


//- Include footer 
include ./partials/footer.pug