// Import partials
@import 'partials/_reset';
@import 'partials/_fonts';
@import 'partials/_colors';
@import 'partials/_screen';
@import 'partials/_layouts';

// Import blocs
@import 'blocs/header';
@import 'blocs/footer';
@import 'blocs/buttons-wrapper';
@import 'blocs/intro';
@import 'blocs/monde';
@import 'blocs/consoles';
@import 'blocs/histoire';
@import 'blocs/personnages';
@import 'blocs/ennemis';
@import 'blocs/share';

@font-face {
 font-family: "Roboto";
 src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "AnticDidone";
  src: url("../fonts/AnticDidone-Regular.ttf") format("truetype");
 }
 @font-face {
  font-family: "BerkshireSwash";
  src: url("../fonts/BerkshireSwash-Regular.ttf") format("truetype");
 }

h1 {
  color: brown;
  font-family: "Roboto", Arial;

  &:hover {
    color: green;
  }
}

html {
  font-family: 'Roboto', sans-serif;
}

a, a:hover, a:visited {
  text-decoration: none;
}
