// Import partials
@import '_fonts.scss';
@import '_screen.scss';

// Import blocs
@import 'blocs/header';
@import 'blocs/footer';
@import 'blocs/consoles';

h1 {
  color: brown;
  font-family: "Roboto", Arial;

  &:hover {
    color: green;
  }
}
